@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2, 142, 223);
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

header {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: rgb(202, 243, 255);
    text-align: center;
}

section {
    background: white;
    width: 400px;
    margin: auto;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow:  3px  3px 10px rgba(0, 0, 0, 0.363);
}

div {
   font-weight: 500;
   margin: 5px;
   
}

input {
    margin: 6px;
    padding: 3px;
}

#foto {
    
}

footer {
    color: rgb(202, 243, 255);
    text-align: center;
    font-style: italic;
}